<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427100589814-rvkcg0pfr95sdf4h4v2hn4r8ilfhgi9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427100589814-rvkcg0pfr95sdf4h4v2hn4r8ilfhgi9h</string>
	<key>API_KEY</key>
	<string>AIzaSyAPe515ee2h_h9NrQKv7eha2IAOu3KGvCs</string>
	<key>GCM_SENDER_ID</key>
	<string>427100589814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.montalto.domenico.LetsCode</string>
	<key>PROJECT_ID</key>
	<string>letscode-c5842</string>
	<key>STORAGE_BUCKET</key>
	<string>letscode-c5842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427100589814:ios:4648f2e3fde3cab2e2a6d7</string>
</dict>
</plist>